$hdbg_color = #e54847
$font_color_block = #fff
$bd_color = #e5e5e5
html, body
    width 100%
.flex
    display: flex
.flex1
    flex: 1
.section-title
    font-size 17px
    color #000
.action-list.section-title
    padding-left 0.4rem
.nav
    height 1.067rem
    font-size 18px
    text-align center
    background-color $hdbg_color
    padding 6px
    box-sizing: border-box
    .arrow-left
        float: left
        height 100%
        position relative
        &:after
            content: ''
            width 12px
            height 12px
            position absolute
            top 50%
            left 16px
            border 2px solid #fff
            border-width: 0 0 2px 2px
            transform rotate(45deg) translateY(-50%)
    span 
        color $font_color_block
        display inline-block
.page
    background: #f4f4f4
    position relative
    z-index: 1
    margin 0
    color #555555
    min-width 3.1rem
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    font 14px/1.5 Arial, Helvetica, sans-serif
    section
        background #fff
        border-bottom 1px solid $bd_color
    .movie-header
        padding 0
        background #f8f8f8
        border-bottom: none
        .movie
            color #ffffff
            padding: .4rem
            line-height: 1
            overflow hidden
            position relative
            box-sizing: border-box
            filter blur(0)
            &-background,
            &-filter
                position absolute
                top 0
                left 0
                right 0
                bottom 0
            &-background
                z-index 0
                filter blur(0.6rem)
                -webkit-filter: blur(0.6rem)
                background-image url(./images/images/header-bg.jpg)
                background-size: cover
                background-repeat no-repeat
                background-position-y 40%
            &-filter
                background-color #40454d
                opacity .5
            &-container
                z-index: 1
                position relative
                .movie-cover
                    float left
                    width: 2.854rem
                    height: 4rem
                    border 1px solid #f0f2f3
                    position relative
                    .img
                        width 100%
                    &:after
                        content: ''
                        display: block
                        width 1.6rem
                        height 1.6rem
                        position: absolute
                        background url('./images/images/bofang.png')
                        background-size 100% auto
                        // z-index: 100
                        top 50%
                        left 50%
                        transform translate(-50%, -50%) 
                        opacity .7
                .movie-content
                    overflow hidden
                    padding-left: .4rem
                    .movie-name
                        font-size: 17px
                        margin 0.08rem 0
                    .movie-ename
                        font-size: 12px
                        margin-bottom 0.3rem
                    .movie-score
                        font-size 12px
                        margin-bottom 0.3rem
                        .rating
                            .img
                                width 0.48rem
                                height 0.48rem
                                margin-right 2px
                            .rating-score
                                font-size .48rem
                                color #ffc600
                    .movie-detail
                        font-size 12px
                        margin-bottom 0.16rem
                        opacity .7
                        div,p
                            margin-bottom 0.14rem

            .operating
                margin-top 0.8rem
                div
                    border: 1px solid rgba(255, 255, 255, 0.4)
                    background-color rgba(255, 255, 255, 0.4)
                    font-size 14px
                    position relative
                    z-index: 2
                    text-align: center
                    padding 0.25rem 0
                    border-radius: 4px
                    img 
                        vertical-align: middle
                    span
                        vertical-align: middle
                .movie-watch
                    margin-right: 0.3rem
                    img 
                        width 14px
                .movie-mark
                    img 
                        width 18px

    .section-seperate
        padding-top 0.4rem
        margin-bottom 0.3rem
        border-top: 1px solid $bd_color
    .section-expender
        padding-left 0.4rem
        padding-right 0.4rem
        .text-expander
            &__content.close
                min-height: 65px
                display: -webkit-box
                overflow hidden
                text-overflow: ellipsis
                word-break break-all
                -webkit-box-orient: vertical
                -webkit-line-clamp 3
            &__button
                height 0.7rem
                text-align: center
                .icon-chevron_down
                    display: inline-block
                    // margin: 0 auto
                    width 10px
                    height 10px
                    border: 2px solid $bd_color
                    border-width: 0 0 2px 2px
                    transform: rotateZ(-45deg)
                    box-sizing: border-box
                    transition: transform .5s
                .icon-chevron_down.up
                    transform: rotateZ(-225deg)
    .section-seperate
        .movie-celebrities
            width 100%
            padding .3rem .3rem .1rem .3rem
            overflow-x: scroll
            white-space: nowrap
            box-sizing border-box
            li
                text-align center
                display inline-block
                padding 0.04rem
                .link
                    color: #000
                    .movie-celebrities__pic
                        width 1.733rem
                        height 2.4rem
                        margin 0.05rem
                        img
                            width 100%
                    span
                        display: block
                        font-size 0.2rem
                        text-overflow: ellipsis
                        white-space nowrap
                        overflow: hidden
                    .movie-celebrities-roles
                        color: #999
    .movie-booking
        padding-bottom 0.2rem
        .weui-flex
            text-align center
            .placeholder
                span
                    font-size 24px
                    color #d96a3d
                p
                    color #bababa
                    margin-top .1rem
    
    .movie-photo
        .movie-photo__lists
            width 100%
            padding .3rem .3rem .2rem .3rem
            overflow-x: scroll
            white-space: nowrap
            box-sizing border-box
            .stage-img-container
                margin-right 0.13333rem
                display inline-block
                width 2.4rem
                height 1.867rem
                .movie-celebrities_pic
                    width 100%
                    height 100%
                    img
                        width 100%
                        height 100%
                &:first-child
                    width 3.3334rem
                    height 1.867rem
                &:last-child
                    margin-right 0
    .section-seperate
        .pos_r
            position relative
            .join-comment
                position absolute
                top 50%
                right 0
                transform: translateY(-50%)
                border-radius: 20px
                color: $font_color_block
                background-color: #e54847
                padding: .1rem .3rem
        .movie-comment
            padding .2rem 0 .4rem 0
            overflow hidden
            .comment-item
                border 1px solid #aaa
                // display: inline-block
                float: left 
                border-radius: 20px
                padding: .1rem .25rem
                margin: .15rem
                .comment-item__sort
                    font-size 18px
    .section-seperate
        .chosen-comment
            padding: .2rem 0 .3rem
            .chosen-comment__item
                display: flex
                padding: .2rem 0 .3rem
                border-bottom 1px solid $bd_color
                // justify-content space-between
                &:last-child
                    border-bottom none
                .item-avatal
                    width 1rem
                    height 1rem
                    border-radius: 50%
                    overflow hidden
                    border 1px solid #000
                    img
                        width 100%
                .item-detail
                    flex: 1
                    padding-left: .4rem
                    .item-detail__hd
                        width 100%
                        // padding-bottom: .4rem
                        // border: 1px solid #000
                        .greed
                            display: flex
                            .nick-name
                                color: #000000
                                font-size 16px
                                line-height: 20px
                                padding-right: .2rem
                            .level
                                width 1rem
                                // height 20px
                                img
                                    width 100%
                                    // height 100%
                        .item-score__desc
                            color: #999
                    .item-detail__bd
                        width 100%
                        .details
                            font-size 20px
                            line-height: 28px
                            color: #000
                            padding .4rem .2rem .2rem 0
                        .decoration
                            width: 100%
                            display: flex
                            .comment-date
                                flex: 1
                                p
                                    color: #999
                                    padding-top: 5px
                            .like, .replay
                                border: 1px solid #aaa
                                border-radius: 20px
                                padding .1rem .2rem
                                box-sizing: border-box
                                margin-left: .2rem
                                .icon
                                    width .4rem
                                    height .4rem
                                    display: inline-block
                                    // border: 1px solid #000
                                    img
                                        width 100%
                                        vertical-align: middle
                                span
                                    display inline-block
                                    line-height: .4rem
                                    


#toast
    display none
.active
    display: block !important

        
                 
                        